.todo-app-container{
    padding: 20px;
    width: 500px;
    margin: auto;
}

.todo-app-container > form{
    display: flex;
    flex-direction: row;
}

.todo-app-container > form >  input{
    width: calc(100% - 100px);
}

.todo-app-container > form >  button{
    width: 100px;
}

.todo-list{ 
    list-style: none;
    margin: 0;
    padding: 20px;
}
.todo-list-item > label {padding: 0 10px 0 5px;}

.todo-list-item{
    display: block;
    width: 100%;
    text-align: left;
}